#hero {
    margin: 0 auto;
    max-width: 50vw;
}

img {
    max-width: 100%;
    padding: 10px;
}

body {
    background: #7152B4;
}

img.one {
    object-fit: cover;
    height: 441px;
}

.btn-wrap {
    max-width: max-content;
    margin: 0 auto;
}

@media only screen and (max-width:450px) {
    #hero {
        margin: 0 auto;
        max-width: 90vw;
    }

    img.one {
        object-fit: cover;
        height: 164px;
    }

}